doctype html

html
   head
      title = "Holiiii"
      link(rel='stylesheet', type='text/css', href='./css/styles.css')
   body
      p.greetings#people Hellooooooo!
      h1 holisamiguis
      button#btn cambiar color
      img(src='./img/1.jpg')
script(type='text/javascript', src='./js/funct.js')