doctype html
html
   head
      title = "Location"
      link(rel='stylesheet', type='text/css', href='./css/styles.css')
   body
      p.greetings#people Hellooooooo!
      h1 holisamiguis
      img(src='./img/4.jpg')