doctype html
html
   head
      title = "Mission"
      link(rel='stylesheet', type='text/css', href='./css/styles.css')
   body
      p.greetings#people Hellooooooo!
      h1#prueba holisamiguis
      img(src='./img/5.jpg')